<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>NewGameRequestServlet</servlet-name>
		<servlet-class>com.scrumchess.ajaxservlet.NewGameRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewGameRequestServlet</servlet-name>
		<url-pattern>/newgamerequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GameInfoRequestServlet</servlet-name>
		<servlet-class>com.scrumchess.ajaxservlet.GameInfoRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameInfoRequestServlet</servlet-name>
		<url-pattern>/gameinforequest</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>MoveRequestServlet</servlet-name>
		<servlet-class>com.scrumchess.ajaxservlet.MoveRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MoveRequestServlet</servlet-name>
		<url-pattern>/moverequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Scrumchess</servlet-name>
		<servlet-class>com.scrumchess.ajaxservlet.ScrumchessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Scrumchess</servlet-name>
		<url-pattern>/scrumchess</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjaxUserSignInServlet</servlet-name>
		<servlet-class>com.scrumchess.ajaxservlet.AjaxUserSignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxUserSignInServlet</servlet-name>
		<url-pattern>/signinservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserInfoTestServlet</servlet-name>
		<servlet-class>com.scrumchess.ajaxservlet.UserInfoTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfoTestServlet</servlet-name>
		<url-pattern>/usertest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScrumchessServlet</servlet-name>
		<servlet-class>com.scrumchess.ajaxservlet.ScrumchessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScrumchessServlet</servlet-name>
		<url-pattern>/movetest</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
